$main: #181a21;
$yellow: #f7bc00;
$second: #1d232a;
$bg-dark: #0a0e11;
$f-color: #838e9e;

.container-fluid {
  background-color: $bg-dark;
  padding: 0;

  .intro {
    padding: 4.5rem;
    background-color: $main;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    .hot {
      margin-bottom: 6rem;

      .crypto-list {
        .table {
          .thead {
            color: $f-color  !important;
            font-size: 0.8rem;

            th {
              padding: 0.5rem 0;

            }
          }

          .tbody {
            font-size: 0.8rem;

            tr {
              font-size: 0.8rem;
              font-weight: 800;

              &:hover {
                background-colo