$main: #181a21;
$yellow: #f7bc00;
$second: #1d232a;
$bg-dark: #0a0e11;
$f-color: #838e9e;

.container-fluid {
  background-color: $bg-dark;
  padding: 0;

  .intro {
    padding: 4.5rem;
    background-color: $main;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    .hot {
      margi